/*FONTS*/
@font-face {
	font-family: 'HelveticaNeueLTStd-Md';
	src:  url('fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
		  url('fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
		  url('fonts/HelveticaNeueLTStd-Md.ttf') format('truetype');
}

@font-face {
	font-family: 'HelveticaNeueLTStd-Lt';
	src:  url('fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
		  url('fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
		  url('fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat-Bold';
	src:  url('fonts/Montserrat-Bold.woff2') format('woff2'),
		  url('fonts/Montserrat-Bold.woff') format('woff'),
		  url('fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat-Regular';
	src:  url('fonts/Montserrat-Regular.woff2') format('woff2'),
		  url('fonts/Montserrat-Regular.woff') format('woff'),
		  url('fonts/Montserrat-Regular.ttf') format('truetype');
}

/*CLEARFIX*/
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*COMMON*/
html, html a {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
body {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul li{
	margin: 0;
	padding: 0;
}
button, input[type=submit] {
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 0px solid #95A5A6;
	background: #95A5A6;
	margin: 20px 5px;
	padding: 15px 15px;
	cursor: pointer;
	color: #fff;
	font-size: 26px;
	line-height: 20px;
}
button.btn-orange {
	background: #ff5124;
}
a {
	text-decoration: none;
	color: #fff;
	font-size: 26px;
}
h1 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 56px;
	line-height: 80px;
	letter-spacing: -3px;
	margin: 0;
}
h2 {
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 32px;
	margin: 0;
}
h3 {
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 26px;
	margin: 0;
	line-height: 35px;
}
h4 {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 28px;
	margin: 0;
	line-height: 35px;
}
h5 {
	font-family: 'HelveticaNeueLTStd-Md', sans-serif;
	font-size: 20px;
	margin: 0;
	color: #fff;
}
p {
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 20px;
	margin: 0;
	color: #fff;
}
section.intro {
	position: relative;
	background: url("img/EmpouerFormulaDesign.png") #0074a7 left repeat;
	width: 100%;
	min-height: 350px;
}
section.intro div.text-contain {
	position: absolute;
	width: 1040px;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	color: #e4e4e4;
	text-align: center;
	height: 240px;
}
section.intro div.text-contain.twolines {
	height: 200px;
}
section.intro div.text-contain.oneline {
	height: 140px;
}
.beforefooter {
	padding-bottom: 100px;
}
@media screen and (max-width: 1039px) {
	section.intro div.text-contain {
		width: 90vw;
		padding: 40px 0;
	}
	section.intro div.text-contain h1, section.intro div.text-contain h2 {
		margin: 0 auto;
	}
}

/*CALL-TO-ACTION*/
.common-actionable {
	position: absolute;
	top: 2060px; left: 0; bottom: 0; right: 0;
	height: 135px;
	width: 1000px;
	background: #ecf0f1;
	margin: 10px auto 30px;
}
.common-actionable h5 {
	color: #333;
	float: left;
	letter-spacing: .5px;
	font-size: 23px;
	margin: 40px 0 40px 40px;
	width: 600px;
}
.common-actionable button {
	float: right;
	margin: 40px;
}

.common-actionable.white {
	top: 700px; left: 0; bottom: 0; right: 0;
	background: #fff;
}

@media screen and (max-width: 1039px) {
	.common-actionable {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
		height: auto;
		width: 100%;
		padding: 30px 0;
		margin: 0;
	}
	.common-actionable h5 {
		float: none;
		margin: 0 auto;
		padding: 0 30px 30px;
		width: 80vw;
		text-align: center;
	}
	.common-actionable button{
		float: none;
		display: block;
		width: auto;
		margin: 0 auto;
	}
	.common-actionable.white {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
	}
}

/*NAVBAR*/
header {
	position: relative;
	top: 0; left: 0; right: 0;
	z-index: 999;
	background: #3498db;
}
nav.primarynav {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 70px;
}
#nav {
	position: absolute;
	width: 750px;
	top: 0; bottom: 0; right: 0; left: 0;
	height: 30px;
	margin: auto;
	font-family: 'HelveticaNeueLTStd-Md', sans-serif;
	font-size: 25px;
}
#nav a{
	color: #e4e4e4;
}
#nav li{
	float: left;
	width: 150px;
	text-align: center;
	background: transparent;
}
#nav li:last-child {
	text-align: right;
}
/*#nav li:first-child {
	width: 120px;
}*/
#nav li:nth-child(2) {
	width: 120px;
}
.navlogo{
	display: block;
	position: absolute;
	width: 103px;
	top: 0; bottom: 0; left: 50px;
	margin: auto 0;
}
.navsearch{
	display: none;
	position: absolute;
	top: 0; bottom: 0; right: 20px;
	margin: auto 0;
}
#trigger {
	display: none;
	position: absolute;
	top: 0; bottom: 0; right: 20px;
	margin: auto 0;
	cursor: pointer;
}
@media screen and (max-width: 1199px) {
	header, nav.primarynav {
		width: 100% !important;
	}
}
@media screen and (max-width: 1039px) {
	.navsearch {
		display: none;
	}
	.navlogo {
		left: 20px;
	}
	#trigger {
		display: block;
	}
	#nav {
		position: relative;
		display: none;
		width: 100%;
		height: auto;
		top: 70px; left: 0; right: 0;
		margin: 0 auto;
	}
	#nav li {
		display: inline-block;
		height: auto;
		width: 100%;
		float: none;
		text-align: center;
		margin: 0 auto;
		padding: 15px 0;
		border-bottom: 2px white solid;
		background: #3498db;
	}
	#nav li:last-child {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	#nav li:first-child {
		border-top: 2px white solid;
		width: 100%;
		margin: 0 auto;
	}
	#nav li:nth-child(2) {
		margin: 0 auto;
		width: 100%;
	}
}


/*FOOTER*/
footer {
	position: relative;
	height: 280px;
	width: 100%;
	background: #3498db;
	border-bottom: 15px solid #007dc3;
}
div.footer-colmns3x1, div.footer-colmns2x1 {
	position: absolute;
	top: 50px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	width: 1040px;
	color: white;
	margin: 0 auto;
}
div.footer-colmns3x1 {
	height: 150px;
}
div.footer-colmns2x1 {
	top: 230px; left: 0; bottom: 0; right: 0;
}

div.footer-colmns3x1 div.athird {
	width: 33%;
	float: left;
}
div.footer-colmns3x1 div.athird.footer-left p, div.footer-colmns3x1 div.athird.footer-left h5{
	margin-left: 50px;
}

div.footer-colmns3x1 div.athird img {
	display: block;
	margin: 0 auto;
	width: 250px;
}
p.copyright {
	width: 30%;
	float: left;
	font-size: 18px;
	text-align: left;
	margin-left: 50px;
}
p.terms {
	width: 30%;
	float: right;
	text-align: right;
	margin-right: 50px;
}
p.terms a{
	font-size: 18px;
}

@media screen and (max-width: 1039px) {
	footer {
		height: auto;
		padding-top: 30px;
	}
	div.footer-colmns3x1, div.footer-colmns2x1 {
		position: static;
		display: inline-block;
		width: 100%;
		margin: 0 auto;
		padding: 30px 0;
	}
	div.footer-colmns3x1 div.athird {
		display: inline-block;
		width: 100%;
		float: none;	
		text-align: center;
		padding-bottom: 30px;
		margin: 0;
	}
	div.footer-colmns3x1 div.athird.footer-left p, div.footer-colmns3x1 div.athird.footer-left h5{
		text-align: center;
		margin-left: 0;
	}
	div.footer-colmns2x1 {
		padding-top: 0;
	}
	p.copyright, p.terms {
		width: 100%;
		display: inline-block;
		float: none;
		text-align: center;
		margin: 0;
	}
}


/*SOLUTIONS PAGE*/
div.root {
	width: 100%;
}
div.intro-text {
	position: absolute;
	margin: auto;
	width: 400px;
	height: 200px;
	top: 0; left: 0; bottom: 0; right: 0;
	text-align: center;
	color: #e4e4e4;
}
/*///////////////////////////////////////////////////////////////*/
section.solutions-row1 {
	position: relative;
	width: 100%;
	height: 1110px;
	background: #e6e6e6;
	overflow: auto;
	color: #333;
	padding-bottom: 20px;
}
div.solutions-row1-text {
	position: absolute;
	top: 50px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	overflow: auto;
	width: 750px;
	height: 300px;
	text-align: center;
}
div.solutions-row1-text img {
	margin-top: 20px;
}
div.solutions-row1-media {
	position: absolute;
	top: 350px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	width: 1000px;
	height: 450px;
	overflow: auto;
	border: 0;
}
div.solutions-row1-clmns {
	position: absolute;
	top: 780px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	overflow: auto;
	width: 1040px;
	height: 320px;
}
div.solutions-row1-clmn {
	width: 50%;
	height: inherit;
	float: left;
}
div.solutions-row1-clmn p {
	margin: 40px 30px 0;
	color: #333;
}
div.solutions-row1-clmn button {
	margin-left: 30px;
}
div.solutions-row1-clmn {
	overflow: auto;
}
div.solutions-row1-clmn ul {
	list-style: none;
	margin-top: 40px;
	margin: 40px auto 0;
}
div.solutions-row1-clmn ul li {
	background: url('img/solutions/bullet.png') no-repeat left top;
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 20px;
	color: #333;
	padding-left: 30px;
	margin: 5px 10px 0 0;
}
div.solutions-row1-clmn ul li:last-child {
	height: 50px;
}
/*///////////////////////////////////////////////////////////////*/
section.solutions-row2 {
	position: relative;
	width: 100%;
	height: 450px;
	background: #3498db;
	overflow: auto;
	color: #333;
}
div.nestle-text {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 940px;
	height: 350px;
	text-align: center;
	margin: auto;
}
div.nestle-text p {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 26px;
	line-height: 30px;
	margin: 25px 10px 30px;
}
div.nestle-text p.nestle-note {
	text-transform: uppercase;
	font-size: 17px;
	line-height: 20px;
	margin-top: 40px;
	color: #00334a;
}
/*///////////////////////////////////////////////////////////////*/
section.solutions-row3 {
	position: relative;
	width: 100%;
	height: 2260px;;
	background: #fff;
	overflow: auto;
}
section.solutions-row3 p{
	font-size: 18px;
	padding: 15px 0px;
	color: #333;
}
section.solutions-row3 h1, section.solutions-row3 h3 {
	color: #333;
}
section.solutions-row3 ul {
	list-style-type: disc;
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 18px;
	padding: 0;
	padding-left: 25px;
	color: #333;
}
div.EcodEx.image {
	width: 50%;
	float: left;
}
div.EcodEx.text {
	width: 50%;
	float: left;
}
div.EcodEx.row1 {
	position: absolute;
	top: 50px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	height: 120px;
	width: 675px;
	text-align: center;
}
div.EcodEx.row2 img.adjusted {
	margin-left: 40px;
	width: 390px;
}
div.EcodEx.row2 {
	position: absolute;
	top: 230px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	height: 420px;
	width: 960px;
	text-align: left;
}
div.EcodEx.row3 {
	position: absolute;
	top: 675px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	height: 320px;
	width: 960px;
	text-align: left;
}
div.EcodEx.row3 img.adjusted {
	width: 465px;
}
div.EcodEx.row4 {
	position: absolute;
	top: 990px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	height: 320px;
	width: 960px;
	text-align: left;
}
div.EcodEx.row4 img.adjusted {
	width: 370px;
	margin-left: 50px;
}
div.EcodEx.row5 {
	position: absolute;
	top: 1340px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	height: 320px;
	width: 960px;
	text-align: left;
}
div.EcodEx p, div.EcodEx h4, div.EcodEx ul  {
	margin: 0 20px;
}
div.EcodEx ul {
	padding-bottom: 15px;
}
div.EcodEx br {
	font-size: 35px;
}
/*///////////////////////////////////////////////////////////////*/
section.solutions-row4 {
	position: relative;
	width: 100%;
	height: 900px;
	overflow: auto;
	background: #ecf0f1;
}
div.consulting-root {
	width: 1000px;
	margin: 0 auto;
	color: #333;
}
div.consult.row1 {
	padding-top: 30px;
	width: 1020px;
	text-align: center;
	margin: 0 auto;
}
div.consult.row2 {
	position: relative;
	width: 1020px;
	text-align: left;
	margin: 0 auto;
}
div.consult.row2 h4 {
	position: absolute;
	margin-left: 20px;
	top: 90px; left: 0; bottom: 0; right: 0;
}
div.consult.row2 p {
	position: absolute;
	top: 130px; left: 0; bottom: 0; right: 0;
	margin-left: 20px;
	color: #333;
	width: 475px;
}
div.consult.row2 h5 {
	position: absolute;
	top: 130px; left: 560px; bottom: 0; right: 0;
	color: #333;
}
div.consult.row2 ul {
	list-style-type: disc;
	position: absolute;
	top: 170px; left: 580px; bottom: 0; right: 0;
	color: #333;
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 20px;
	margin: 0;
}


@media screen and (max-width: 1039px) {
	section.solutions-row1, section.solutions-row2, section.solutions-row3 {
		height: auto;
	}

	div.intro-text, div.solutions-row1-text, div.solutions-row1-media, div.solutions-row1-clmns {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
		width: 100%;
		height: auto;
	}
	div.intro-text {
		padding: 50px 0;
		margin: 0 auto;
	}
	div.intro-text h1, div.intro-text h2{
		margin: 0;
	}
	/*///////////////////////////////////////////////////////////////*/
	section.solutions-row1 {
		padding-bottom: 0px;
	}
	div.solutions-row1-media {
		padding-bottom: 35px;
	}
	div.solutions-row1-text {
		height: auto;
		width: 90vw;
		padding: 30px 0;
	}
	div.solutions-row1-text h3 {
		margin: 0 30px;
	}
	div.solutions-row1-text img {
		width: 450px;
	}
	div.solutions-row1-clmns {
		height: auto;
	}
	div.solutions-row1-clmn p {
		width: 90vw;
		margin: 20px auto 0;
		color: #333;
	}
	div.solutions-row1-clmn {
		width: 100%;
		height: 230px;
		float: none;
	}
	div.solutions-row1-clmn.left {
		height: auto;
	}
	div.solutions-row1-clmn.right {
		margin-top: 0;
	}
	div.solutions-row1-clmn.right ul{
		margin-top: 30px;
		margin-left: 5vw;
	}
	div.solutions-row1-clmn button {
		margin-left: 5vw;
	}
	/*///////////////////////////////////////////////////////////////*/
	div.nestle-text {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
		height: auto;
		width: 100%;
		padding: 30px 0 20px 0;
	}
	div.nestle-text img {
		width: 500px;
	}
	div.nestle-text p {
		margin: 0;
		padding: 20px 30px 0;
	}
	/*///////////////////////////////////////////////////////////////*/
	div.EcodEx-explained {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
		width: 100%;
		padding-bottom: 30px;
		height: auto;
	}
	div.EcodEx.row1, div.EcodEx.row2, div.EcodEx.row3, div.EcodEx.row4, div.EcodEx.row5 {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
		height: auto;
		width: 100%;
		padding: 0;
		padding-bottom: 20px;
	}
	div.EcodEx.row1 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	div.EcodEx.image, div.EcodEx.text {
		width: 100%;
		float: none;
	}
	div.EcodEx.text {
		margin: 0 auto;
		width: 800px;
	}
	div.EcodEx.text.seamless {
		padding-top: 0px;
	}
	div.EcodEx.text h4 {
		text-align: center;
	}
	div.EcodEx p, div.EcodEx h4, div.EcodEx ul {
		margin: 0;
	}

	div.EcodEx.row2 img.adjusted, div.EcodEx.row3 img.adjusted, div.EcodEx.row4 img.adjusted {
		display: block;
		margin: 0 auto;
		padding: 20px 0;
	}
	div.EcodEx br {
		font-size: 20px;
	}
	section.solutions-row3 ul {
		padding-left: 0;
		margin-left: 25px;
	}
	/*///////////////////////////////////////////////////////////////*/
	section.solutions-row4 {
		height: auto;
	}
	div.consulting-root {
		width: 100%;
		height: auto;
		margin: 0;
	}
	div.consult.row1 {
		width: 90vw;
		margin: 0 auto;
	}
	div.consult.row1 h1 {
		padding: 30px 0 0 0;
	}
	div.consult.row1 h3 {
		padding: 0 0 40px 0;
	}
	div.consult.row2 {
		position: relative;
		width: 100%;
		text-align: left;
		margin: 0 auto;
	}
	div.consult.row2 h4, div.consult.row2 p, div.consult.row2 h5, div.consult.row2 ul {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
		height: auto;
		width: 100%;
		margin: 0;
	}
	div.consult.row2 h4 {
		padding: 0 0 20px;
		text-align: center;
	}
	div.consult.row2 h5 {
		padding: 0 0 20px;
		text-align: center;
	}
	div.consult.row2 p {
		width: 90vw;
		padding: 0 0 20px;
		margin: 0 auto;
	}
	div.consult.row2 ul {
		width: 85vw;
		padding: 0 0 50px;
		margin: 0 auto;
	}
	/*SWAP-ELEMENTS*/
	.container {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		/* optional */
		-webkit-box-align: start;
		-moz-box-align: start;
		-ms-flex-align: start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}
	.container .first_div {
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}
	.container .second_div {
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
	}
}

@media screen and (max-width: 799px) {
	h1 {
		font-size: 40px;
		line-height: 40px;
	}
	h2 {
		font-size: 25px;
		line-height: 30px;
	}
	h3 {
		font-size: 20px;
		line-height: 26px;
	}
	div.solutions-row1-text img {
		width: 60vw;
		margin-top: 10px;
	}
	button {
		margin: 20px 0 0;
		padding: 0 12px 2px;
		font-size: 20px;
	}
	div.solutions-row1-clmn.right {
		margin-top: 0;
	}

	div.nestle-text {
		height: auto;
	}
	div.nestle-text img {
		width: 350px;
	}
	div.nestle-text p {
		font-size: 20px;
		line-height: 25px;
	}
	div.nestle-text p.nestle-note {
		font-size: 14px;
		line-height: 16px;
	}

	div.EcodEx.text {
		width: 90vw;
	}
}
@media screen and (max-width: 500px) {
	div.EcodEx.row2 img.adjusted, div.EcodEx.row3 img.adjusted, div.EcodEx.row4 img.adjusted {
		width: 90vw;
	}
}

/*EXPERTISE-INDEX-PAGE*/
section.expertise {
	width: 100%;
	background: #e6e6e6;
	text-align: center;
}
section.expertise div {
	padding: 60px 0;
    width: 90vw;
    margin: 0 auto;
	padding: 60px 0;
}
section.expertise div h1, section.expertise div h3 {
	width: 1040px;
	color: #333;
	margin: 0 auto;
}
section.expertise ul {
	display: inline-block;
	width: 1200px;
}
section.expertise ul li {
	text-align: left;
	position: relative;
	float: left;
    height: 198px;
	width: 380px;
	margin: 10px;
}
section.expertise ul li span {
	font-family: 'Montserrat-Bold', sans-serif;
	letter-spacing: -2px;
	font-size: 30px;
	position: absolute;
	top: 15px;
	left: 15px;
}
section.expertise ul li img {
	position: absolute;
	bottom: 15px;
	right: 15px;
}
@media screen and (max-width: 1199px) {
	section.expertise ul, section.expertise div, section.expertise div h1, section.expertise div h3 {
		width: 800px;
	}
}
@media screen and (max-width: 799px) {
	section.expertise ul, section.expertise div, section.expertise div h1, section.expertise div h3 {
		width: 90vw;
	}
	section.expertise ul li {
		width: 90vw;
		margin: 10px auto;
	}
}
/*///////////////////////////////////////////////////////////////*/
.b1 {
	background: url("img/agri.jpg") #e6e6e6;
	
}
.b2 {
	background: url("img/consumer.jpg") #e6e6e6;
}
.b3 {
	background: url("img/food.jpg") #e6e6e6;
}
.b4 {
	background: url("img/packaging.jpg") #e6e6e6;
}
.b5 {
	background: url("img/pharma.jpg") #e6e6e6;
}
.b6 {
	background: url("img/retail.jpg") #e6e6e6;
}
.b7 {
	background: url("img/packaging-product.jpg") #e6e6e6;
}
.b8 {
	background: url("img/plm.jpg") #e6e6e6;
}
.b9 {
	background: url("img/software-development.jpg") #e6e6e6;
}
.b10 {
	background: url("img/supply-chain.jpg") #e6e6e6;
}
.b11 {
	background: url("img/sustainability-consulting.jpg") #e6e6e6;
}
.b12 {
	background: url("img/training.jpg") #e6e6e6;
}
.covers {
	background-size: 100%;
	background-repeat: no-repeat;
    background-position: center center;
}

/*EXPERTISEPAGE-TEMPLATE*/
nav.secondarynav {
	position: relative;
	width: 100%;
	height: 48px;
	background: #007dc3;
	border-bottom: 2px solid #3498db;
}
nav.secondarynav ul {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 17px 0 13px 100px;
	color: #fff;
	font-family: 'HelveticaNeueLTStd-Md', sans-serif;
}
nav.secondarynav ul li {
	padding: 0 10px 0 0;
	float: left;
}	
nav.secondarynav ul li a{
	font-size: 16px;
	margin-top: -10px;
}
nav.secondarynav ul li:after {
	display: inline-block;
	content : url('img/expertise-display/arrow.png');
	margin-left: 10px;
}
nav.secondarynav ul li:first-child {
	padding-left: 0;
}
nav.secondarynav ul li:last-child:after {
	content: none;
}

@media screen and (max-width: 1250px) {
	nav.secondarynav ul{
		display: inline-block;
		width: 80vw !important;
		padding: 17px 0 0;
		margin: 0 50px;
	}
}

@media screen and (max-width: 1199px) {
	nav.secondarynav ul{
		width: 90vw;
		margin: 0;
		margin-left: 5vw;
	}
}

/*///////////////////////////////////////////////////////////////*/
section.expertise-intro {
	background: #007dc3;
	width: 100%;
	padding: 60px 0 80px;
}
section.expertise-intro h1, section.expertise-intro h2 {
	width: 1040px;
	margin: 0 auto;
}
section.expertise-intro div.text-contain {
	color: #e4e4e4;
	margin: 0 50px;
}
/*///////////////////////////////////////////////////////////////*/
section.expertise-content {
	position: relative;
	text-align: center;
	overflow-x: hidden;
	width: 100%;
	background: #e6e6e6;
	padding: 60px 0;
}
div.expertise-content-intro {
	text-align: left;
	width: 90vw;
    margin: 0 auto;
}
div.expertise-content-intro h1, div.expertise-content-intro h2 {
	color: #333;
	width: 1040px;
	margin: 0 auto;
}
div.expertise-content-intro h1 {
	line-height: 46px;
	font-size: 44px;
}
div.expertise-content-intro h2 {
	padding-top: 15px;
}
section.expertise-content img {
	display: block;
	width: 1040px;
	margin: 30px auto;
}
div.expertise-content-more {
	text-align: left;
	display: inline-block;
	width: 1040px;
	margin: 0 auto;
}
div.expertise-content-more div.left, div.expertise-content-more div.right {
	display: inline-block;
	width: 50%;
	height: auto;
	float: left;
}
div.expertise-content-more div.right {
	float: right;
}
div.expertise-content-more p, div.expertise-content-more ul {
	color: #333;
}
div.expertise-content-more p {
	margin: 0 10px;
}
div.expertise-content-more ul {
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 20px;
	list-style-type: disc;
	position: relative;
	margin: 10px;
	margin-left: 30px;
}

@media screen and (max-width: 1039px) {
	section.expertise-content, section.expertise-intro h1, section.expertise-intro h2, div.expertise-content-intro h1, div.expertise-content-intro h2 {
		width: 100%;
	}
	section.expertise-intro div.text-contain {
		width: 90vw;
		margin: 0 auto;
	}
	section.expertise-content img {
		width: 90vw;
	}
	div.expertise-content-more {
		width: 100%;
		margin: 0;
	}
	div.expertise-content-more div.left, div.expertise-content-more div.right {
		width: 100%;
		float: none;
		margin: 0;
	}
	div.expertise-content-more p {
		display: block;
		width: 90vw;
		margin: 0 auto;
	}
	div.expertise-content-more ul {
		margin-left: 10vw;
	}
}

/*EXPERTISE-SLIDER*/
section.expertise-slider {
	width: 100%;
	position: relative;
	background: black;
}
div.expertise-slider-intro {
	position: relative;
	width: 90vw;
	margin: -400px auto 0;
	background: white;
}
div.expertise-slider-intro h1, div.expertise-slider-intro h2 {
	margin: 0 40px;
}
div.expertise-slider-intro h1 {
	padding: 50px 0 0 0;
}
div.expertise-slider-intro h2 {
	padding: 20px 0 0;
}
.slider {
	font-family: 'HelveticaNeueLTStd-Md', sans-serif;
	width: 90vw;
	margin: 0 auto;
	padding: 50px 0;
	background: white;
}
.clickme {
    background-color: green;
    color: #333;
    display: block;
    margin-bottom: 5px;
    padding: 20px 10px;
    border: 2px solid #333;
    border-left: 0;
    border-right: 0;
}
.box {
	font-size: 20px;
    background-color: #ccc;
    margin: 20px 50px;
    padding: 5px 10px;
    width: auto;
}
.box p {
	color: #333;
}

/*ABOUT*/
section.intro div.text-contain.about  {
	height: 140px;
}
section.intro div.text-contain.about h1{
	margin-top: -20px;
}
section.about {
	width: 100%;
	background: #e6e6e6;
	text-align: center;
	padding-bottom: 60px;
}
section.about div {
	margin: 0 50px;
	padding: 60px 0;
}
section.about div h1, section.about div h3 {
	width: 1040px;
	color: #333;
	margin: 0 auto;
}
section.about ul {
	display: inline-block;
	width: 1092px;
}
section.about ul li {
	position: relative;
    background: #007dc3;
    float: left;
    width: 344px;
    height: 322px;
    margin: 10px;
}
section.about ul li span {
    font-family: 'Montserrat-Bold', sans-serif;
    text-align: left;
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
}
section.about ul li.box-image-1 {
	background: url("img/ship.jpg") #e6e6e6;
}

section.about ul li.box-image-2 {
	background: url("img/cows.jpg") #e6e6e6;
}

section.about ul li.box-image-3 {
	background: url("img/strawberry.jpg") #e6e6e6;
}

section.about ul li.box-image-4 {
	background: url("img/beans.jpg") #e6e6e6;
}

section.about ul li.box-image-5 {
	background: url("img/chip.jpg") #e6e6e6;
}
section.about ul li.covers {
	background-size: 100%;
	background-repeat: no-repeat;
    background-position: center center;
}
/*///////////////////////////////////////////////////////////////*/
section.about-empauer {
	position: relative;
	background: #fff;
	width: 100%;
	height: 300px;
	text-align: center;
}
section.about-contain-all {
	padding-bottom: 30px;
}
div.about-contain-all {
	position: relative;
	display: flex;
	background: #fff;
	width: 1080px;
	margin: -30px auto 0;
}
div.about-contain-all.normalize {
	margin: 0 auto;
	padding-bottom: 50px;
}
div.about-contain-all div {
	margin: 0 auto;
}
div.about-contain-all div img {
	float: left;
	width: 300px;
	margin: 70px 0 0 50px;
}
div.about-contain-all div aside {
	display: inline-block;
	width: 650px;
	float: left;
	padding: 0 30px;
	margin-top: 40px;
}
div.about-contain-all div aside h1, div.about-contain-all div aside p {
	font-size: 30px;
	color: #000;
}
div.about-contain-all div aside p {
	font-size: 24px;
	padding: 10px 0;
}
div.common-actionable.about {
	position: static;
}

@media screen and (max-width: 1079px) {
	div.about-contain-all {
		width: 100%;
	}
	div.about-contain-all div img {
		float: none;
		display: block;
		width: 300px;
		margin: 70px 0 0 20px;
	}
}
@media screen and (max-width: 1039px) {
	div.about-contain-all div aside {
		width: auto;
	}
}
/*///////////////////////////////////////////////////////////////*/
@media screen and (max-width: 1199px) {
	section.about ul {
		width: 728px;
	}
	section.about ul li.box-image-5 {
		display: none;
	}
}
@media screen and (max-width: 1039px) {
	section.about {
		padding-bottom: 100px;
	}
	section.about div h1, section.about div h3 {
		width: 100%;
	}
}
@media screen and (max-width: 799px) {
	section.about div {
	    width: 90vw;
	    margin: 0 auto;
	}
	section.about ul {
		width: 90vw;
	}
	section.about ul li {
		width: 90vw;
		height: 240px;
		margin: 10px auto;
	}
	section.about ul li.box-image-5 {
		display: inline-block;
	}
}

/*INDEX*/
section.index.intro {
	background: #e4e4e4;
}
section.index.intro h1, section.index.intro h2 {
	color: #333;
}
section.home {
	width: 100%;
	background: url("img/heroimage.png") no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	padding: 60px 0 70px;
}
section.home h1, section.home h2 {
	color: #e4e4e4;
	margin: 0 50px;
}
section.info {
	padding-bottom: 20px;
}
div.about-contain-all.index {
	margin: 0 auto;
}
div.about-contain-all.index div img {
	width: 420px;
	margin-left: 0;
}
div.about-contain-all.index div img.compliance {
	width: 500px;
	margin-left: -64px;
	margin-top: 0;
}
div.about-contain-all.index div aside.compliance {
	width: 600px;
	padding-left: 0;
}
div.about-contain-all.index div aside {
	width: 600px;
}
div.about-contain-all.index div aside.shown {
	width: 600px;
	padding-left: 0;
	width: 56%;
}
div.about-contain-all.index div aside.hidden {
	display: none;
}
div.about-contain-all.index h1 {
	color: #007cc3;
	font-size: 50px;
	line-height: 50px;
	padding-top: 20px;
}
@media screen and (max-width: 1079px) {
	section.info {
		padding-bottom: 50px;
	}
	div.about-contain-all.index div img {
		margin: 70px auto 0;
	}
	div.about-contain-all.index div aside {
		width: 80vw;
	}
	div.about-contain-all.index div aside.compliance {
		width: 80vw;
		margin: 0 auto;
	}
	div.about-contain-all.index div img.compliance {
		margin: 0 auto;
	}
	div.about-contain-all.index div aside.compliance {
		margin-top: -30px;
	}
	div.about-contain-all.index div aside.shown {
		display: none;
	}
	div.about-contain-all.index div aside.hidden {
		display: initial;
	}
}
@media screen and (max-width: 799px) {
	div.about-contain-all.index h1 {
		font-size: 40px;
	    line-height: 50px;
	}
	div.about-contain-all div aside p {
		font-size: 22px;
	}
}
@media screen and (max-width: 700px) {
	section.home h1, section.home h2 {
		margin: 0 auto;
		width: 90vw;
	}
	div.about-contain-all.index div aside {
		width: 90vw;
		padding: 0;
		margin: 0;
	}
	div.about-contain-all.index div img, div.about-contain-all.index div img.compliance {
		width: 90vw;
	}
}
@media screen and (max-width: 400px) {
	div.about-contain-all.index div img, div.about-contain-all.index div img.compliance {
		width: 90vw;
	}
}

/*CONTACT-US*/
section.contactus {
	background: #e6e6e6;
}
section.contactus div {
	width: 1040px;
	margin: 0 auto;
	text-align: center;
}
section.contactus div h1 {
	padding-top: 60px;
	font-size: 46px;
	color: #333;
}
section.contactus div h3 {
	color: #333;
	padding-bottom: 60px;
}
section.contactus div.form {
	padding-bottom: 10px;
}
section.contactus div.form aside{
	width: 48%;
	float: left;
	text-align: center;
}
section.contactus div.form aside.right{
	float: right;
}
section.contactus div.form aside h1, section.contactus div.form aside p {
	margin: 10px;
	margin-left: 20px;
	color: #333;
	text-align: left;
	padding: 0;
}
section.contactus div.form aside h1 {
	line-height: 30px;
	font-size: 28px;
}
section.contactus div.form aside img {
	display: block;
	width: 91%;
	padding-top: 20px;
	margin: 0 auto;
}
section.contactus div.form aside object {
	width: 100%;
	height: 1150px;
}
@media screen and (max-width: 1199px) {
	section.contactus div {
		width: 95%;
	}
	section.contactus div h1, section.contactus div h3 {
		margin: 0 50px;
	}
}
@media screen and (max-width: 1039px) {
	section.contactus div.form aside {
		width: 100%;
		float: none;
	}
	section.contactus div.form aside h1, section.contactus div.form aside p {
		width: 90vw;
    	margin: 0 auto;
	}
	section.contactus div.form aside object {
		width: 90vw;
		margin: 0 auto;
	}
	section.contactus div.form aside img {
		width: 90vw;
	}
	section.contactus {
		padding-bottom: 30px;
	}
}
@media screen and (max-width: 600px) {
	section.contactus div.form aside img {
		width: 90vw;
	}
}

/*TERMS AND POLICIES*/
div.termsandpolicies {
	width: 1040px;
	margin: 0 auto;
	padding: 50px 0 60px;
	background: #fff;
}
div.termsandpolicies h1, div.termsandpolicies h2, div.termsandpolicies p {
	color: #333;
}
div.termsandpolicies h1 {
	padding-bottom: 20px;
	margin: 0 20px;
}
div.termsandpolicies h2, div.termsandpolicies p {
	font-size: 25px;
	padding-bottom: 30px;
	margin: 0 20px;
}

@media screen and (max-width: 1039px) {
	div.termsandpolicies {
		width: 100%;
	}	
	div.termsandpolicies h1, div.termsandpolicies h2, div.termsandpolicies p {
		margin-left: 50px;
		margin-right: 50px;
	}
}

/*FORM*/
.contact-form {
	display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}
fieldset {
    border: none;
    display: inline-block;
    width: 100%;
    font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
    margin: 0;
    padding: 0;
}
input, select, textarea {
    border: none;
    font-family: 'Montserrat-Regular', sans-serif;
    letter-spacing: -1px;
    color: #333;
    padding: 0;
    margin: 0;
    width: 100%;
}
.fl-l {
    float: left;
}
span {
    font-size: 20px;
/*    margin-left: 5px;*/
    padding-bottom: 20px;
}
span.margin10px {
/*    margin-left: 2vw;*/
}
input.hs-input {
    height: 55px;
    margin-top: 13px;
    text-indent: 10px;
}
input.firstname, input.lastname {
    font-size: 26px;
}
input.lastname {
/*    margin-left: 2vw;*/
}
input.organization, input.email {
    font-size: 26px;
}
div.hs_country {
    margin: 13px 0 0 0;
}
select.country {
    margin-top: 13px;
    height: 55px;
    text-indent: 10px;
    font-size: 26px;
    border:none;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    color: #757575;
}
select.country option{
    color: #333;
	font-size: 26px;
}
textarea.message {
    resize: none;
    width: 96%;
    padding: 10px;
    margin-top: 13px;
    height: 415px;
    font-size: 26px;
    -webkit-appearance: none;
}
textarea:focus, input:focus,  select:focus{
    outline: none;
}
input[type=submit].button {
	display: block;
    float: none;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 26px;
    color: #fff;
}

@media screen and (max-width: 1039px) {
	.fl-l {
		float: none;
	}
	input.firstname, input.lastname {
   		font-size: 26px;
	}
	input.lastname {
	    margin-left: 0;
	}
	span {
		display: inline-block;
    	padding: 13px 0 0 0;
	}
	input[type=submit].button {
		font-size: 20px;
	}
}

/*RESOURCES*/
div.resources {
	background: #e6e6e6;
}
div.resources-intro {
	width: 700px;
	text-align: center;
	margin: 0 auto;
	padding: 60px 0 60px 0;
}
div.resources-clmn-container {
	display: table;
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 60px;
}
div.resources-clmns {
	width: 380px;
	margin: 0 10px;
	float: left;
}
div.img1, div.img2, div.img3 {
	display: block;	
	width: 380px;
	height: 170px;
}
div.img1 {
	background: url("img/resources/level4.png") #e6e6e6;
}
div.img2 {
	background: url("img/resources/level2.png") #e6e6e6;
}
div.img3 {
	background: url("img/resources/level6.png") #e6e6e6;
}
div.resources-clmns h1 {
	font-size: 30px;
	line-height: 30px;
	letter-spacing: -2px;
	padding-bottom: 25px;
}
div.resources-clmns h2 {
	font-size: 28px;
	color: #333;
	padding-top: 25px;
}
div.resources-clmns a h3, div.resources-clmns span h3 {
	font-family: 'Montserrat-Bold', sans-serif;
	letter-spacing: -1px;
	font-size: 18px;
	line-height: 20px;
	color: #333;
}
div.resources-clmns p {
	font-size: 18px;
	color: #333;
	padding: 20px 0;
}
div.resources-clmns a p, div.resources-clmns span p {
	padding: 2px 0;
}
div.resources-clmns a, div.resources-clmns span {
	display: block;
	padding: 0 0 25px 0;
}

@media screen and (max-width: 1199px) {
	div.resources-clmn-container {
		width: 800px;
	}
}
@media screen and (max-width: 799px) {
	div.resources-intro {
		width: 90vw;
	}
	div.resources-clmn-container {
		width: 90vw;
	}
	div.resources-clmns {
		width: 100%;
		margin: 0 auto;
		float: none;
	}
	div.resources-clmns h1 {
		padding-top: 20px;
	}
	div.resources-clmns h1.marginfix {
		padding-top: 0;
	}
	div.img1, div.img2, div.img3 {
		width: 90vw;
		background-size: 100%;
		background-repeat: no-repeat;
	    background-position: center center;
	}
}


@media screen and (max-width: 799px) {
	section.intro div.text-contain {
		height: 200px;
	}
	section.intro div.text-contain.twolines {
		height: 170px;
	}
	section.intro div.text-contain.oneline {
		height: 100px;
	}
	section.intro div.text-contain.about {
		height: 100px;
	}
}
@media screen and (max-width: 523px) {
	section.intro div.text-contain {
		height: 250px;
	}
	section.intro div.text-contain.expertise {
		height: 200px;
	}
}
@media screen and (max-width: 344px) {
	section.intro div.text-contain {
		height: 330px;
	}
	section.index.intro {
		height: 400px;
	}
}
