/*FONTS*/
@font-face {
	font-family: 'HelveticaNeueLTStd-Md';
	src:  url('fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
		  url('fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
		  url('fonts/HelveticaNeueLTStd-Md.ttf') format('truetype');
}

@font-face {
	font-family: 'HelveticaNeueLTStd-Lt';
	src:  url('fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
		  url('fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
		  url('fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat-Bold';
	src:  url('fonts/Montserrat-Bold.woff2') format('woff2'),
		  url('fonts/Montserrat-Bold.woff') format('woff'),
		  url('fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat-Regular';
	src:  url('fonts/Montserrat-Regular.woff2') format('woff2'),
		  url('fonts/Montserrat-Regular.woff') format('woff'),
		  url('fonts/Montserrat-Regular.ttf') format('truetype');
}

/*CLEARFIX*/
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*COMMON*/
body {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul li{
	margin: 0;
	padding: 0;
}
button, input[type=submit] {
	display: table-cell;
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	height: 55px;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 0px solid #95A5A6;
	background: #95A5A6;
	margin: 20px 5px;
	padding: 0 15px 3px;
	cursor: pointer;
}
button.btn-orange {
	background: #ff5124;
}
a {
	text-decoration: none;
	color: #fff;
	font-size: 26px;
}
h1 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 56px;
	line-height: 80px;
	letter-spacing: -3px;
	margin: 0;
}
h2 {
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 32px;
	margin: 0;
}
h3 {
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 26px;
	margin: 0;
	line-height: 35px;
}
h4 {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 28px;
	margin: 0;
	line-height: 35px;
}
h5 {
	font-family: 'HelveticaNeueLTStd-Md', sans-serif;
	font-size: 20px;
	margin: 0;
	color: #fff;
}
p {
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 20px;
	margin: 0;
	color: #fff;
}

/*CALL-TO-ACTION*/
.common-actionable {
	position: absolute;
	top: 2160px; left: 0; bottom: 0; right: 0;
	height: 135px;
	width: 1000px;
	background: #ecf0f1;
	margin: 10px auto 30px;
}
.common-actionable h5 {
	color: #333;
	float: left;
	letter-spacing: .5px;
	font-size: 23px;
	margin: 40px 0 40px 40px;
	width: 600px;
}
.common-actionable button {
	float: right;
	margin: 40px;
}
.common-actionable.white {
	top: 700px; left: 0; bottom: 0; right: 0;
	background: #fff;
}

@media screen and (max-width: 1039px) {
	.common-actionable {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
		height: auto;
		width: 100%;
		padding: 30px 0;
		margin: 0;
	}
	.common-actionable h5 {
		float: none;
		margin: 0 auto;
		padding: 0 30px 30px;
		width: 80vw;
		text-align: center;
	}
	.common-actionable button{
		float: none;
		display: block;
		width: auto;
		margin: 0 auto;
	}
	.common-actionable.white {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
	}
}

/*FOOTER*/
footer {
	position: relative;
	height: 380px;
	width: 100%;
	background: #3498db;
	border-bottom: 15px solid #007dc3;
}
div.footer-colmns3x1, div.footer-colmns2x1 {
	position: absolute;
	top: 50px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	width: 1040px;
	color: white;
	margin: 0 auto;
}
div.footer-colmns2x1 {
	top: 300px; left: 0; bottom: 0; right: 0;
}

div.footer-colmns3x1 div.athird {
	width: 33%;
	float: left;
	text-align: center;
}
div.footer-colmns3x1 div.athird.footer-left p, div.footer-colmns3x1 div.athird.footer-left h5{
	text-align: left;
	margin-left: 50px;
}

div.footer-colmns3x1 div.athird img {
	display: block;
	margin: 0 auto;
}
p.copyright {
	width: 30%;
	float: left;
	font-size: 18px;
	text-align: left;
	margin-left: 50px;
}
p.terms {
	width: 30%;
	float: right;
	text-align: right;
	margin-right: 50px;
}
p.terms a{
	font-size: 18px;
}

@media screen and (max-width: 1039px) {
	footer {
		height: auto;
	}
	div.footer-colmns3x1, div.footer-colmns2x1 {
		position: static;
		display: inline-block;
		width: 100%;
		margin: 0 auto;
		padding: 30px 0;
	}
	div.footer-colmns3x1 div.athird {
		display: inline-block;
		width: 100%;
		float: none;	
		text-align: center;
		padding-bottom: 30px;
		margin: 0;
	}
	div.footer-colmns3x1 div.athird.footer-left p, div.footer-colmns3x1 div.athird.footer-left h5{
		text-align: center;
		margin-left: 0;
	}
	p.copyright, p.terms {
		width: 100%;
		display: inline-block;
		float: none;
		text-align: center;
		margin: 0;
	}
}


/*SOLUTIONS PAGE*/
div.root {
	width: 100%;
}
section.intro {
	position: relative;
	width: 100%;
	height: 365px;
	background: url("img/EmpouerFormulaDesign.png") #0074a7 center no-repeat;
	margin: 0 auto;
}
div.intro-text {
	position: absolute;
	margin: auto;
	width: 400px;
	height: 200px;
	top: 0; left: 0; bottom: 0; right: 0;
	text-align: center;
	color: #e4e4e4;
}
/*///////////////////////////////////////////////////////////////*/
section.solutions-row1 {
	position: relative;
	width: 100%;
	height: 1280px;
	background: #e6e6e6;
	overflow: auto;
	color: #333;
}
div.solutions-row1-text {
	position: absolute;
	top: 50px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	overflow: auto;
	width: 750px;
	height: 300px;
	text-align: center;
}
div.solutions-row1-text img {
	margin-top: 20px;
}
div.solutions-row1-media {
	position: absolute;
	top: 350px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	width: 1040px;
	height: 600px;
	overflow: auto;
	background: black;
}
div.solutions-row1-clmns {
	position: absolute;
	top: 950px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	overflow: auto;
	width: 1040px;
	height: 320px;
}
div.solutions-row1-clmn {
	width: 50%;
	height: inherit;
	float: left;
}
div.solutions-row1-clmn p {
	margin: 40px 30px 0;
	color: #333;
}
div.solutions-row1-clmn button {
	margin-left: 30px;
}
div.solutions-row1-clmn {
	overflow: auto;
}
div.solutions-row1-clmn ul {
	list-style: none;
	margin-top: 40px;
	margin: 40px auto 0;
}
div.solutions-row1-clmn ul li {
	background: url('img/solutions/bullet.png') no-repeat left top;
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 20px;
	color: #333;
	height: 30px;
	padding-left: 30px;
	margin: 5px 10px 0 0;
}
div.solutions-row1-clmn ul li:last-child {
	height: 50px;
}
/*///////////////////////////////////////////////////////////////*/
section.solutions-row2 {
	position: relative;
	width: 100%;
	height: 450px;
	background: #3498db;
	overflow: auto;
	color: #333;
}
div.nestle-text {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 940px;
	height: 350px;
	text-align: center;
	margin: auto;
}
div.nestle-text p {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 26px;
	line-height: 30px;
	margin: 25px 10px 30px;
}
div.nestle-text p.nestle-note {
	text-transform: uppercase;
	font-size: 17px;
	line-height: 20px;
	margin-top: 40px;
	color: #00334a;
}
/*///////////////////////////////////////////////////////////////*/
section.solutions-row3 {
	position: relative;
	width: 100%;
	height: 2350px;
	background: #fff;
	overflow: auto;
}
section.solutions-row3 p{
	font-size: 18px;
	padding: 15px 0px;
	color: #333;
}
section.solutions-row3 h1, section.solutions-row3 h3 {
	color: #333;
}
section.solutions-row3 ul {
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 18px;
	padding: 0;
	padding-left: 25px;
	color: #333;
}
div.EcodEx.image {
	width: 50%;
	float: left;
}
div.EcodEx.text {
	width: 50%;
	float: left;
}
div.EcodEx.row1 {
	position: absolute;
	top: 50px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	height: 120px;
	width: 675px;
	text-align: center;
}
div.EcodEx.row2 img.adjusted {
	margin-left: 40px;
	width: 390px;
}
div.EcodEx.row2 {
	position: absolute;
	top: 230px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	height: 420px;
	width: 960px;
	text-align: left;
}
div.EcodEx.row3 {
	position: absolute;
	top: 710px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	height: 320px;
	width: 960px;
	text-align: left;
}
div.EcodEx.row3 img.adjusted {
	width: 465px;
}
div.EcodEx.row4 {
	position: absolute;
	top: 1050px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	height: 320px;
	width: 960px;
	text-align: left;
}
div.EcodEx.row4 img.adjusted {
	width: 370px;
	margin-left: 50px;
}
div.EcodEx.row5 {
	position: absolute;
	top: 1430px; left: 0; bottom: 0; right: 0;
	margin: 0 auto;
	height: 320px;
	width: 960px;
	text-align: left;
}
div.EcodEx p, div.EcodEx h4, div.EcodEx ul  {
	margin: 0 20px;
}
/*///////////////////////////////////////////////////////////////*/
section.solutions-row4 {
	position: relative;
	width: 100%;
	height: 900px;
	overflow: auto;
	background: #ecf0f1;
}
div.consulting-root {
	width: 1000px;
	margin: 0 auto;
	color: #333;
}
div.consult.row1 {
	width: 1020px;
	text-align: center;
	margin: 0 auto;
}
div.consult.row2 {
	position: relative;
	width: 1020px;
	text-align: left;
	margin: 0 auto;
}
div.consult.row2 h4 {
	position: absolute;
	margin-left: 20px;
	top: 90px; left: 0; bottom: 0; right: 0;
}
div.consult.row2 p {
	position: absolute;
	top: 130px; left: 0; bottom: 0; right: 0;
	margin-left: 20px;
	color: #333;
	width: 475px;
}
div.consult.row2 h5 {
	position: absolute;
	top: 130px; left: 560px; bottom: 0; right: 0;
	color: #333;
}
div.consult.row2 ul {
	position: absolute;
	top: 170px; left: 560px; bottom: 0; right: 0;
	color: #333;
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 20px;
	margin: 0;
}


@media screen and (max-width: 1039px) {
	section {
		height: auto !important;
	}

	div.intro-text, div.solutions-row1-text, div.solutions-row1-media, div.solutions-row1-clmns {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
		width: 100%;
	}
	div.intro-text {
		padding: 50px 0;
		margin: 0 auto;
	}
	div.intro-text h1, div.intro-text h2{
		margin: 0;
	}
	/*///////////////////////////////////////////////////////////////*/
	div.solutions-row1-text {
		height: auto;
		padding: 30px 0;
	}
	div.solutions-row1-text h3 {
		margin: 0 30px;
	}
	div.solutions-row1-text img {
		width: 450px;
	}
	div.solutions-row1-clmns {
		height: auto;
	}
	div.solutions-row1-clmn p {
		margin: 0;
		padding: 30px 30px 0;
		color: #333;
	}
	div.solutions-row1-clmn {
		width: 100%;
		height: 230px;
		float: none;
	}
	div.solutions-row1-clmn.left {
		height: auto;
	}
	div.solutions-row1-clmn.right {
		margin-top: 0;
	}
	/*///////////////////////////////////////////////////////////////*/
	div.nestle-text {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
		height: auto;
		width: 100%;
		padding: 30px 0 20px 0;
	}
	div.nestle-text img {
		width: 500px;
	}
	div.nestle-text p {
		margin: 0;
		padding: 20px 30px 0;
	}
	/*///////////////////////////////////////////////////////////////*/
	div.EcodEx-explained {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
		width: 100%;
		padding-bottom: 30px;
		height: auto;
	}
	div.EcodEx.row1, div.EcodEx.row2, div.EcodEx.row3, div.EcodEx.row4, div.EcodEx.row5 {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
		height: auto;
		width: 100%;
		padding: 30px 0 20px 0;
	}
	div.EcodEx.image, div.EcodEx.text {
		width: 100%;
		float: none;
	}
	div.EcodEx.text {
		margin: 0 auto;
		padding: 30px;
		width: 70vw;
	}
	div.EcodEx.text h4 {
		text-align: center;
	}

	div.EcodEx.row2 img.adjusted, div.EcodEx.row3 img.adjusted, div.EcodEx.row4 img.adjusted {
		display: block;
		margin: 0 auto;
	}
	/*///////////////////////////////////////////////////////////////*/
	section.solutions-row4 {
		height: auto;
	}
	div.consulting-root {
		width: 100%;
		height: auto;
		margin: 0;
	}
	div.consult.row1 {
		width: 70vw;
		margin: 0 auto;
	}
	div.consult.row1 h1 {
		padding: 30px 0 0 0;
	}
	div.consult.row1 h3 {
		padding: 0 0 40px 0;
	}
	div.consult.row2 {
		position: relative;
		width: 100%;
		text-align: left;
		margin: 0 auto;
	}
	div.consult.row2 h4, div.consult.row2 p, div.consult.row2 h5, div.consult.row2 ul {
		position: relative;
		top: 0; left: 0; bottom: 0; right: 0;
		height: auto;
		width: 100%;
		margin: 0;
	}
	div.consult.row2 h4 {
		padding: 0 0 20px;
		text-align: center;
	}
	div.consult.row2 h5 {
		padding: 0 0 20px;
		text-align: center;
	}
	div.consult.row2 p {
		width: 80vw;
		padding: 0 0 20px;
		margin: 0 auto;
	}
	div.consult.row2 ul {
		width: 70vw;
		padding: 0 0 50px;
		margin: 0 auto;
	}
	/*SWAP-ELEMENTS*/
	.container {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		/* optional */
		-webkit-box-align: start;
		-moz-box-align: start;
		-ms-flex-align: start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}
	.container .first_div {
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}
	.container .second_div {
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
	}
}

@media screen and (max-width: 620px) {
	h1 {
		font-size: 40px;
		line-height: 50px;
	}
	h2 {
		font-size: 25px;
		line-height: 30px;
	}
	h3 {
		font-size: 22px;
		line-height: 26px;
	}
	div.solutions-row1-text img {
		width: 60vw;
		margin-top: 10px;
	}
	button {
		margin: 20px 5px 0;
		padding: 0 12px 2px;
	}
	button a{
		font-size: 20px;
	}
	div.solutions-row1-clmn.right {
		margin-top: 0;
	}

	div.nestle-text {
		height: auto;
	}
	div.nestle-text img {
		width: 350px;
	}
	div.nestle-text p {
		font-size: 20px;
		line-height: 25px;
	}
	div.nestle-text p.nestle-note {
		font-size: 14px;
		line-height: 16px;
	}

	div.EcodEx.text {
		width: 90vw;
	}
}

/*EXPERTISEPAGE-TEMPLATE*/
nav.secondarynav {
	position: relative;
	width: 100%;
	height: 48px;
	background: #007dc3;
	border-bottom: 2px solid #3498db;
}
nav.secondarynav ul {
	position: absolute;
	top: ; left: 0; bottom: 0; right: 0;
	margin: auto 25px;
	padding: 17px 0 13px;
	color: #fff;
	font-family: 'HelveticaNeueLTStd-Md', sans-serif;
}
nav.secondarynav ul li {
	padding: 0 10px 0 0;
	float: left;
}	
nav.secondarynav ul li a{
	font-size: 16px;
	margin-top: -10px;
}
nav.secondarynav ul li:after {
	display: inline-block;
	content : url('img/expertise-display/arrow.png');
	margin-left: 10px;
}
nav.secondarynav ul li:first-child {
	padding-left: 0;
}
nav.secondarynav ul li:last-child:after {
	content: none;
}
/*///////////////////////////////////////////////////////////////*/
section.expertise-intro {
	background: #007dc3;
	padding: 60px 0 80px;
}
section.expertise-intro h1, section.expertise-intro h2 {
	color: #e4e4e4;
	margin: 0 50px;
}
/*///////////////////////////////////////////////////////////////*/
section.expertise-content {
	position: relative;
	background: #e6e6e6;
	padding: 60px 0 700px;
}
div.expertise-content-intro {
	margin: 0 50px;
}
div.expertise-content-intro h1, div.expertise-content-intro h2 {
	color: #333;
}
div.expertise-content-intro h1 {
	line-height: 46px;
	font-size: 44px;
}
div.expertise-content-intro h2 {
	padding-top: 15px;
}
section.expertise-content img {
	width: 90vw;
	display: block;
	margin: 30px auto;
}
div.expertise-content-more div.left, div.expertise-content-more div.right {
	position: relative;
	width: 45vw;
	float: left;
}
div.expertise-content-more div.right {
	float: right;
}
div.expertise-content-more p, div.expertise-content-more ul {
	color: #333;
}
div.expertise-content-more div.left p, div.expertise-content-more div.left ul{
	margin-left: 90px;
}
div.expertise-content-more div.right p, div.expertise-content-more div.right ul {
	margin-right: 90px;
}
div.expertise-content-more div.left ul, div.expertise-content-more div.right ul {
	font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
	font-size: 20px;
	list-style-type: disc;
	margin: 30px 50px;
}
div.expertise-content-more div.right ul {
	margin: 30px 50px;
}
div.expertise-content-more div.left ul {
	margin: 30px 0px 0 140px;
}
div.expertise-content-more div.left ul li, div.right ul li {
	float: none;
}

/*EXPERTISE-SLIDER*/
section.expertise-slider {
	width: 100%;
	position: relative;
	background: black;
}
div.expertise-slider-intro {
	position: relative;
	width: 90vw;
	margin: -400px auto 0;
	background: white;
}
div.expertise-slider-intro h1, div.expertise-slider-intro h2 {
	margin: 0 40px;
}
div.expertise-slider-intro h1 {
	padding: 50px 0 0 0;
}
div.expertise-slider-intro h2 {
	padding: 20px 0 0;
}
.slider {
	font-family: 'HelveticaNeueLTStd-Md', sans-serif;
	width: 90vw;
	margin: 0 auto;
	padding: 50px 0;
	background: white;
}
.clickme {
    background-color: green;
    color: #333;
    display: block;
    margin-bottom: 5px;
    padding: 20px 10px;
    border: 2px solid #333;
    border-left: 0;
    border-right: 0;
}
.box {
	font-size: 20px;
    background-color: #ccc;
    margin: 20px 50px;
    padding: 5px 10px;
    width: auto;
}
.box p {
	color: #333;
}

/*TERMS AND POLICIES*/
div.termsandpolicies {
	width: 1040px;
	margin: 0 auto;
	padding: 50px 0 60px;
	background: #fff;
}
div.termsandpolicies h1, div.termsandpolicies h2, div.termsandpolicies p {
	color: #333;
}
div.termsandpolicies h1 {
	padding-bottom: 20px;
	margin: 0 20px;
}
div.termsandpolicies h2, div.termsandpolicies p {
	font-size: 25px;
	padding-bottom: 30px;
	margin: 0 20px;
}

@media screen and (max-width: 1039px) {
	div.termsandpolicies {
		width: 100%;
	}
}